fastapi~=0.115.9
uvicorn
pydantic~=2.12.2
langgraph
crewai
chromadb~=1.1.1
ray
pytest~=8.3.2
pytest-asyncio
black==24.3.0
pydantic_settings
isort
mypy
ruff
python-dotenv
pymupdf
fitz

tiktoken~=0.9.0
sentence-transformers~=5.1.1
httpx~=0.28.1
pydantic-settings~=2.11.0
rich~=14.0.0
numpy~=1.26.4
openai~=1.87.0